.users {
    margin: 10px;
}

.users img {
    width: 200px;
}

.users .current {
    font-weight: bold;
    font-size: 22px;

}
.users .othersNumbers {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}