.myProfile {
    padding: 5px;
}

.myProfile a {
    text-decoration: none;
    color: blue;
    vertical-align: middle;
}

.myProfile a:hover {
    color: dodgerblue;
}

.myProfile .loginBlock {
    float: left;
    margin-left: 30%;
}

.myProfile .profileBlock {
    float: right;
    margin-right: 10%;
}

.myProfile button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 10px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}