.myProfile {
    padding: 5px;
}

.myProfile a {
    text-decoration: none;
    color: blue;
    vertical-align: middle;
}

.myProfile a:hover {
    color: dodgerblue;
}

.myProfile .loginBlock {
    float: left;
    margin-left: 30%;
}

.myProfile .profileBlock {
    float: right;
    margin-right: 30%;
}