.freeHeader {
    grid-area: header;
    background-color: aquamarine;
    margin: 5px;
}

.freeHeader img {
    width: 30px;
    margin: 5px;
    float: left;
}
.freeHeader p {
    font-size: 12px;
}