.freeHeader {
    grid-area: header;
    background-color: aquamarine;
    margin: 5px;
}

.freeHeader img {
    width: 30px;
    margin: 5px;
}
.freeHeader p {
    display: inline;
    font-size: 10px;
    margin: 20px;
}